:root {
  --color-primary: #fd951f;
  --color-background: #130f0d;
  --color-text: #f0f0f5;
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 500 1.6rem Poppins;
  color: var(--color-text);
  background-color: var(--color-background);
}


main {
  width: 60rem;
  height: 35rem;
  border: 0.2rem solid var(--color-primary);

  margin: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main #range-area {
  width: 100%;
  height: 20rem;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

main #range-area #output-colors {
  width: 30rem;
  height: 15rem;
  border: 0.2rem solid var(--color-primary);
  border-radius: 0.8rem;
}

main #range-area #ranges {
  width: 30rem;
  height: 15rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main #range-area #ranges input {
  margin: 1.2rem;
}

main #range-area #ranges .span-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rbg-latters {
  margin-right: 1rem;
}

main #copy {
  width: 50%;
  height: 10rem;
  font-size: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}